

body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/009/006/945/original/abstract-purple-tone-free-form-banner-vivid-background-vector.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-attachment: fixed;
}

.container {
    text-align: center;
    font-size: xx-large;
    margin: 20px;
}

h1.App {
    font-size: 3rem;
    font-weight: bold;
    color: #0f1316;
    margin: 0;
    padding: 0;
    animation: textGlow 3s ease-in-out infinite;
}

@keyframes textGlow {
    0%, 100% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #4a90e2, 0 0 20px #4a90e2, 0 0 25px #4a90e2, 0 0 30px #4a90e2, 0 0 35px #4a90e2;
    }
    50% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff00ff, 0 0 20px #ff00ff, 0 0 25px #ff00ff, 0 0 30px #ff00ff, 0 0 35px #ff00ff;
    }
}

.bold {
    font-size: 1.5rem;
    color: #333;
    margin: 10px 10px 10px 10px;
    padding: 10px;
}

.intro {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);  /*Semi-transparent background for readability  */
    padding: 20px;
    border-radius: 10px;
}

/* .p {
    text-align: center;
    font-size: medium;
    margin: 20px 22px 20px 22px;
    padding: 20px 22px 20px 22px;
}
 */
.intro p {
    line-height: 1.6; 
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px; 
}


#start {
    height: 30px;
    width: 140px;
    padding: 10px;
    margin: 30px;
    border: none;
    background-color: #7b1fa2;
    color: white;
    font-size:25px ;
    line-height: 10px;
    padding-bottom: 15px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    border-radius: 25px;
}

#start:hover {
    transform: scale(1.1);
}

@keyframes startButtonAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

#start {
    animation: startButtonAnimation 2s infinite;
}

@media (max-width: 768px) {
    .container {
        font-size: large;
    }
    .intro {
        width: 90%;
    }
    #start {
        width: 140px;
        font-size: medium;
    }
}

@media (max-width: 480px) {
    .container {
        font-size: medium;
    }
    .intro {
        width: 95%;
        padding: 15px;
    }
    #start {
        width: 120px;
        font-size: small;
        padding: 15px;
    }
}
